*{
    margin: 0 auto;
    padding: 0;
}

body{
    text-align: center;
    height: 500px;
    margin: 200px auto;
    background-image: url("./img/jane_the_virgin.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    height: 100vh;
    width: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

body#fundo{
    margin: 0 auto;
}

.img{
    text-align: center;
    width: 50px;
    z-index: 100;
    opacity: 0.5;
    cursor: pointer;
}