body{
    font-family: 'Montserrat', sans-serif;
    background-image: url("../assets/img/pascoa_img.jpg");
    background-position: cover;
    background-repeat: no-repeat;
    background-size: 100%;
    margin: 0;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container__form{
    display: flex;
    flex-direction: column;
    text-align: center;
    border: none;
}

.cidade{
    display: none;
}

fieldset{
    border: none;
    display: flex;
    flex-direction: column;
    text-align: center;
}

label{
    padding:  10px;
    font-size: 30px;
    font-weight: bold;
}

h1{
    font-size: 80px;
    font-weight: bold;
}
p{
    font-size: 20px;
    font-weight: bold;
}