body{
    font-family: "Open Sans", sans-serif;
    background-image: -webkit-gradient(linear, left top, right top, from(#e0c3fc), to(#8ec5fc));
}

.container{
    width: 30%;
    margin: 0 auto;
    text-align: center;
    background-color: white;
    display: flex;
    flex-direction: column;
}

.titulo{
    font-weight: bolder;
}

.form{
    display: flex;
    flex-direction: column;
}

.input{
    padding: 10%;
    font-size: 16px;
}

.input:focus{
    outline: none;
}

.btn{
    padding: 5%;
    background-color: #ba7af8;
    color: white;
    border: none;
    font-weight: bolder;
    cursor: pointer;
    font-size: 14px;
}

.btn:focus{
    outline: none;
}

.div-conteudo{
    margin-top: 1%;
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: none;
}

.div-conteudo p{
    width: 100%;
    text-align: left;
    font-size: 16px;
}

.div-conteudo input{
    margin: 0 10px;
    cursor: pointer;
}

.div-conteudo input:focus{
    outline: none;
}

.div-conteudo button{
    margin: 0 10px;
    padding: 0;
    cursor: pointer;
    font-weight: bolder;
}

.div-conteudo button:focus{
    outline: none;
}

.btnRodape{
    display: none;
    color: white;
    font-weight: bolder;
    padding: 5px;
    background-color: #ba7af8;
    border: none;
    border-radius: 3px;
    margin: 10px;
    cursor: pointer;
    font-size: 14px;
}

.btnRodape:focus{
    outline: none;
}

.btn-excluir{
    border: none;
    justify-content: flex-end;
}
